<script src="~/lib/jquery/dist/jquery.min.js" />
<script type="text/jscript">
    BindGrid();
      $(document).ready(function () {



      })

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<style>
    .form-inputs {
        padding: 40px;
        flex: 60%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        position: relative;
    }

    .form-btn {
        margin: 20px 0px;
        background-color: #f6fe00;
        color: black;
        padding: 10px 40px;
        font-weight: 700;
        border: none;
        cursor: pointer;
    }

    .form-row {
        padding: 10px 0px;
        position: relative;
    }

    .form-row-field {
        color: #000000;
        position: absolute;
        pointer-events: none;
        transition: 0.5s;
        top: 10px;
        margin-left: 2em;
    }

    .form-row-field-input {
        background-color: inherit;
        display: block;
        top: 10px;
        transition: 0.5s;
        margin-left: 1.5em;
    }

        .form-row-field-input:focus ~ label, input:not(:placeholder-shown) ~ label {
            top: -5px;
            font-size: 12px;
            color: #9b91f5;
            font-weight: bold;
        }

    .fileCss {
        top: -11px;
        font-size: 14px;
        color: #000000;
        font-weight: bold;
    }
</style>
<div class="Gridtable">
    <section class="">
        <div class="">
            <div class="Imgcontainer">
                <img class="CommanImage" src="/Images/pay.jpg" />

                <div class="top-rightWhite1">Transaction Entry</div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card" style="width: 100%;">

                    <div class="card-body">
                        <div class="row align-items-center my-0">
                            <div class="col">

                                <h2 class=""></h2>

                            </div>
                            <div class="">

                                <button type="button" class="btn mb-2 btn-outline-primary btm_mnl" onclick="GridShow(2)"><span class="fas fa-plus mr-2" aria-hidden="true"></span>Add</button>

                            </div>
                        </div>
                        <div class="table-responsive" width="100%">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>SNo</th>
                                        <th>Date</th>
                                        <th>Category</th>
                                        <th>Sub Account</th>
                                        <th>Amount</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyData">
                                    <tr>
                                        <td>Trident</td>
                                        <td>
                                            Internet
                                            Explorer 4.0
                                        </td>
                                        <td>Win 95+</td>
                                        <td> 4</td>
                                        <td>X</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<div class="GridIUD" style="display:none">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card" style="width: 100%;">

                    <div class="card-body">
                                    <div class="row align-items-center my-0">
            <div class="row col-12">
                        <div class="col-2">
                         <img class="" id="back" style="width: 25%;margin-left: 36%; top:5px" onclick="clearAll()" src="/Images/BackButton.png">
                        
                        </div>
                        <div class="col-8">
                        <h2 class="h3 mb-0 text-center">Transaction Entry -Add</h2>
                        </div>
                        <div class="col-2">
                         <img class="Righttext" id="printb" style="width: 123px;top: 32%;left: 55%;display: block;" onclick="printPage(this)" src="/Images/Print.jpg">
                        
                        </div>
                        </div>


                        </div>
                        <div class="form-inputs">
                            <div class="row">
                            <div class="col-sm-6">
                                  <div class="form-row form-group">
          
                                        <select id="ddlCostCenter" class="form-row-field-input form-control">
                                        <option value="0">Select</option> 
                                        </select>
                                        <label for="POST-name" class="fileCss form-row-field">Cost Center</label>
                                    </div>
                                     
                                </div>


                            
                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="Date" id="txttransactiondate" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Date</label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-row form-group">
          
                                        <select id="txttransactioncreditdebit" class="form-row-field-input form-control">
                                        <option value="0">Select</option>
                                        <option value="1">Credit</option>
                                        <option value="2">Debit</option>
                                        </select>
                                        <label for="POST-name" class="fileCss form-row-field">Credit/Debit</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <select id="ddlCategory" class="form-row-field-input form-control">
                                            <option selected value = "0">Select</option>
                                        </select>
                                        <label for="POST-name" class="fileCss form-row-field">Category</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <select id="ddlSubAccount" class="form-row-field-input form-control">
                                            <option selected value = "0">Select</option>
                                        </select>
                                        <label for="POST-name" class="fileCss form-row-field"> Account</label>
                                    </div>
                                </div>
                                
                                 <div class="col-sm-6">
                                        <div class="form-row form-group">
                                        <input type="text" id="txttransactionaccountnumber" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Account Number</label>
                                    </div>
                                </div>

                               


                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txttransactiondetails" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Details</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="transactioninvnumber" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Invoice Number</label>

                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <select id="ddlSupplier" class="form-row-field-input form-control">
                                            <option selected value = "0">Select</option>
                                        </select>
                                        <label for="POST-name" class="fileCss form-row-field">Supplier</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <select id="ddlCurrency" class="form-row-field-input form-control">
                                            <option selected value = "0">Select</option>
                                            <option value="1">AED</option>
                                            <option value="2">USD</option>
                                        </select>
                                        <label for="POST-name" class="fileCss form-row-field">Currency</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                        <div class="form-row form-group">
                                        <input type="text" id="txttransactionamount" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Amount</label>
                                    </div>
                                    </div>
                                
                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="number" id="txttransactioninstrumenttype" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Instrument Type</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txttransactioninstrumentnumber" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Instrument Number  </label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                  <div class="form-row form-group">
          
                                        <select id="ddlBankAccNumber" class="form-row-field-input form-control">
                                        <option value="0">Select</option> 
                                        </select>
                                        <label for="POST-name" class="fileCss form-row-field">Bank Account Number</label>
                                    </div>
                                    </div>

                              <!-- <div class="col-sm-6">
                                  <div class="form-row form-group">
         
                                        <select id="ddlemployee" class="form-row-field-input form-control">
                                        <option value="0">Select</option> 
                                        </select>
                                        <label for="POST-name" class="fileCss form-row-field">Employee</label>
                                    </div>
                                    </div>

                                <div class="col-sm-6">
                                  <div class="form-row form-group">
          
                                        <select id="ddlVehicle" class="form-row-field-input form-control">
                                        <option value="0">Select</option> 
                                        </select>
                                        <label for="POST-name" class="fileCss form-row-field">Vehicle</label>
                                    </div>
                                    </div>-->

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txttransactionremarks" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field"> Remarks  </label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txttransactiontrnreguestby" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Trn.Request By </label>
                                    </div>
                                </div>

                                </div>
                            <div class="text-center mt-5 mb-3">
                                <a href="#" class="btn btn-md btn-primary" id="_btnSubmit" onclick="IUDEmpDetails(1,0)">Submit</a>
                                <a href="#" class="btn btn-md btn-primary" onclick="clearAll()">Back</a>
                            </div>
                        </div>
                        <!--end-->
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<div class="GridView" style="display:none">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card" style="width: 100%;">

                    <div class="card-body">
                        <div class="row align-items-center my-0">
                            <div class="col">

                                <h2 class="h3 mb-0 page-title">Employee</h2>

                            </div>
                            <div class="">

                                <button type="button" class="btn mb-2 btn-outline-primary btm_mnl" onclick="GridShow(1)"><span class=" mr-2" aria-hidden="true"></span>Back</button>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Employee Name</span>
                                        <span class="info-box-number text-center text-muted mb-0">Raja Vel</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Employee Locaion</span>
                                        <span class="info-box-number text-center text-muted mb-0">Chennai</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Employee Code</span>
                                        <span class="info-box-number text-center text-muted mb-0">EP1020</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>S.NO</th>
                                        <th>Emp-Code</th>
                                        <th>Emp-Name</th>
                                        <th>Emp-Gender</th>
                                        <th>Emp-Designation</th>
                                        <th>Emp-Department</th>
                                        <th>Emp-Photo</th>
                                        <th>Emp-Nationality</th>
                                        <th>Emp-Joining Date</th>
                                        <th>Emp-Monthly salary</th>
                                        <th>Emp-Salary Paid</th>
                                        <th>Emp-DOB</th>
                                        <th>Emp-Employer</th>
                                        <th>Emp-Location</th>
                                        <th>Emp-Cost Center</th>
                                        <th>Emp pp-No</th>
                                        <th>Emp PP-Image</th>
                                        <th>Emp-VISA Issued</th>
                                        <th>Emp-VISA Number</th>
                                        <th>Emp VISA Expiry</th>
                                        <th>Emp-VISA Image</th>
                                        <th>Emp-EID Number</th>
                                        <th>Emp-EID Exp</th>
                                        <th>Emp-EID Image</th>
                                        <th>Emp-Asset Given</th>
                                        <th>Emp-Housing Details</th>
                                        <th>Emp-Loan Given</th>
                                        <th>Emp-Mobile Number</th>
                                        <th>Emp-Email ID</th>
                                        <th>Emp-Vacation Details</th>
                                        <th>Emp-Leave Balance</th>
                                        <th>Emp-Air Ticket</th>
                                        <th>Emp-Probation period</th>
                                        <th>Emp-Employement EndDate</th>
                                        <th>Emp-Employement status</th>
                                        <th>Emp-Type</th>
                                        <th>Emp-others1</th>




                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>1256</td>
                                        <td>Ricardo</td>
                                        <td>Male</td>
                                        <td>Boat Caption</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>philippines</td>
                                        <td>23/02/2020</td>
                                        <td>8000</td>
                                        <td>ZO</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>Dubai</td>
                                        <td>-</td>
                                        <td>P5640734A</td>
                                        <td>Image</td>
                                        <td>OLE Object</td>
                                        <td>-</td>

                                        <td>16/1/2028</td>
                                        <td>-</td>
                                        <td>784-1984</td>
                                        <td>4/3/2023</td>
                                        <td>Image</td>
                                        <td>OLE Object</td>
                                        <td>car</td>
                                        <td>Yes</td>
                                        <td>0532568</td>
                                        <td>richard</td>
                                        <td>-</td>
                                        <td>5</td>
                                        <td>30</td>
                                        <td>-</td>

                                        <td>2025</td>
                                        <td>active</td>
                                        <td>-</td>
                                        <td>-</td>




                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<script src="/js/CommonFunction.js"></script>
<script>

        $(document).ready(function () {
      BindGrid();
       GridShow(1);
          BindEmployeemaster()
        BindVechilemaster()
     $('#Menu_Parameter_master').show();
        })
        var trnId = 0;
    async function BindGrid() {
        var url = '@Url.Action("BindGrid", "TransactionEntry")';
        var data = {};
        data = await callController(url, data);

        console.log(data);
        Gridappend(data.transactionEntries);
    }

    async function BindExpenseCategory()
        {
          var url = '@Url.Action("BindGrid", "ExpenseCategory")';
            var data = {"CsId":0};
            data = await callController(url, data);
            $("#ddlCategory").html('');
            $.each(data.expenseCategoryResponse, function (res, value) {
                $("#ddlCategory").append($("<option></option>").val(value.trnId).html(value.TrnCategory));
            })
        } 
     
        async function BindVechilemaster()
        {
   var url = '@Url.Action("BindGrid", "Vehicle_Master")';
            var data = {"vhId":0};
            data = await callController(url, data);
            $("#ddlVehicle").html('');
            $.each(data.vechileResponse, function (res, value) {
                $("#ddlVehicle").append($("<option></option>").val(value.vhId).html(value.vhRegNo + '-'+ value.vhRegNo));
            })
        } 
        async function BindEmployeemaster()
        {
  var url = '@Url.Action("BindGrid", "Employee_master")';
        var data = {};
            data = await callController(url, data);
            $("#ddlemployee").html('');
            $.each(data.employeeMasterResponse, function (res, value) {
                $("#ddlemployee").append($("<option></option>").val(value.empId).html(value.empName));
            })
        }
                    function printPage(obj) {
    var url = '@Url.Action("TransactionPDF", "PrintPDF")'; 
    var _id = $(obj).attr("_PrintID");
    window.open(url + "?ID=" + _id);
}
    async function _View(EmpId) {
        $('h2.h3.mb-0.text-center').text('Transaction Entry - View');
        var url = '@Url.Action("BindGrid", "TransactionEntry")';
        var data = {"TrnId":EmpId};
        
        $('#printb').attr("_PrintID",EmpId);
        GridShow(2);
        trnId = EmpId;
        data = await callController(url, data);
        console.log(data.transactionEntries);
        data=data.transactionEntries;txttransactionamount
        await AppendData(data,true);
        $('#_btnSubmit').hide();
    }
    async function AppendData(data, type){
        // $('#txttransactiondate').val('');
        //$('#txttransactioncreditdebit').val('');
        //$('#txttransactiontype').val('');
        //$('#ddlCategory').val(0);
        //$('#ddlSubAccount').val(0);
        //$('#ddlCostCenter').val(0);
        //$('#txttransactiondetails').val('');
        //$('#transactioninvnumber').val('');
        //$('#ddlSupplier').val(0);
        //$('#ddlCurrency').val(0);
        //$('#txttransactionamount').val('');
        //$('#txttransactionaccountnumber').val('');
        //$('#txttransactioninstrumenttype').val('');
        //$('#txttransactioninstrumentnumber').val(''); 
        $('txttransactioncreditdebit').find('option').remove().end().append('<option value="0">Select</option>');
         $('#ddlCostCenter').find('option').remove().end().append('<option value="0">Select</option>');
         $('#ddlCategory').find('option').remove().end().append('<option value="0">Select</option>');
         $('#ddlSubAccount').find('option').remove().end().append('<option value="0">Select</option>');
         $('#ddlBankAccNumber').find('option').remove().end().append('<option value="0">Select</option>');
         $('#ddlSupplier').find('option').remove().end().append('<option value="0">Select</option>');
        $('#txttransactiondate').val(data[0].trnDate);
        if(data[0].trnDate!=null &&  data[0].trnDate!="")
            $('#txttransactiondate').val(data[0].trnDate.slice(0,10));
        else
            $('#txttransactiondate').val("");
        $('#txttransactioncreditdebit').val(data[0].trnCreditDebit);
        $('#txttransactiontype').val(data[0].trnType);
        await BindCostCenter();
        await BindCategory();
        await BindSubAccounntMaster();
        await BindSupplier();
        await BindBank();
        
         $('#txttransactioncreditdebit option[value="'+(data[0].trnCreditDebit+'"]')).attr("selected", "selected");
        $('#ddlCostCenter option[value="'+(data[0].trnCostCentre+'"]')).attr("selected", "selected");
        $('#ddlCategory option[value="'+data[0].trnCategory+'"]').attr("selected", "selected");
        $('#ddlSubAccount option[value="'+data[0].trnSubAccount+'"]').attr("selected", "selected");
        $('#ddlSupplier option[value="'+data[0].trnSupplier+'"]').attr("selected", "selected");
        $('#ddlCurrency option[value="'+data[0].trnCurrency+'"]').attr("selected", "selected");
        $('#ddlBankAccNumber option[value="'+data[0].trnBankAccountNumb+'"]').attr("selected", "selected");
        $('#ddlemployee option[value="'+data[0].trnEmployee+'"]').attr("selected", "selected");
        $('#ddlVehicle option[value="'+data[0].trnVehicle+'"]').attr("selected", "selected"); 
        $('#txttransactiondetails').val(data[0].trnDetails);
        $('#transactioninvnumber').val(data[0].trnInvNo);
        $('#txttransactionamount').val(data[0].trnAmount);
        $('#txttransactionaccountnumber').val(data[0].trnAccountnumber);
        $('#txttransactioninstrumenttype').val(data[0].trnInstrumentType);
        $('#txttransactioninstrumentnumber').val(data[0].trnInstrumentNumb);
        $('#txttransactionremarks').val(data[0].trnRemarks);
        $('#txttransactiontrnreguestby').val(data[0].trnRequestBy);
        
        $('#txttransactionremarks').prop('disabled', type);
        $('#txttransactiontrnreguestby').prop('disabled', type);
        $('#txttransactiondate').prop('disabled', type);
        $('#txttransactioncreditdebit').prop('disabled', type);
        $('#txttransactiontype').prop('disabled', type);
        $('#ddlCategory').prop('disabled', type);
        $('#ddlSubAccount').prop('disabled', type);
        $('#ddlCostCenter').prop('disabled', type);
        $('#txttransactiondetails').prop('disabled', type);
        $('#transactioninvnumber').prop('disabled', type);
        $('#ddlSupplier').prop('disabled', type);
        $('#ddlVehicle').prop('disabled', type);
        $('#ddlemployee').prop('disabled', type);
        $('#ddlCurrency').prop('disabled', type);
        $('#txttransactionamount').prop('disabled', type);
        $('#txttransactionaccountnumber').prop('disabled', type);
        $('#txttransactioninstrumenttype').prop('disabled', type);
        $('#txttransactioninstrumentnumber').prop('disabled', type);
        $('#ddlBankAccNumber').prop('disabled', type);
    }
    async function BindCostCenter()
        {
            var url = '@Url.Action("BindCostCenter", "Employee_master")';
            var data = {"CsId":0};
            data = await callController(url, data);
            $.each(data.costCenterResponse, function (res, value) {
                $("#ddlCostCenter").append($("<option></option>").val(value.csId).html(value.csName));
            })
        }
        async function BindCategory()
        {
            var url = '@Url.Action("BindGrid", "ExpenseCategory")';
            var data = {"TrnId":0};
            data = await callController(url, data);
            $.each(data.expenseCategoryResponse, function (res, value) {
                $("#ddlCategory").append($("<option></option>").val(value.trnId).html(value.trnCategory));
            })
        }
        async function BindSubAccounntMaster()
        {
            var url = '@Url.Action("BindGridForTransactionEntry", "Sub_Account_Master")';
            var data = {"prpId":0};
            data = await callController(url, data);
            $.each(data.transactionAccounts, function (res, value) {
                $("#ddlSubAccount").append($("<option></option>").val(value.id).html(value.value));
            })
        }
        async function BindSupplier()
        {
            var url = '@Url.Action("BindGrid", "Supplier")';
            var data = {"supId":0};
            data = await callController(url, data);
            $.each(data.supplierResponse, function (res, value) {
                $("#ddlSupplier").append($("<option></option>").val(value.supId).html(value.supCompanyName));
            })
        }
         async function BindBank()
        {
            var url = '@Url.Action("BindGrid", "BankMaster")';
            var data = {"CustId":0};
            data = await callController(url, data);
            $.each(data.bankResponse, function (res, value) {
                $("#ddlBankAccNumber").append($("<option></option>").val(value.bnkId).html(value.bnkAccNo));
            })
        }
        var Flag1 = 0;
    async function _Delete(EmpId) 
    {
         var data = {"TrnId":EmpId};
        var url = '@Url.Action("BindGrid", "TransactionEntry")';
        data = await callController(url, data);
       debugger;
       trnId = EmpId;
         GridShow(2);
         Flag1 = 3;
        console.log(data.transactionEntries);
        data=data.transactionEntries;
        await AppendData(data,true);
        $('h2.h3.mb-0.text-center').text('Transaction Entry - Delete');
        $('#_btnSubmit').show();
    }
    async function _Edit(EmpId) {
        var url = '@Url.Action("BindGrid", "TransactionEntry")';
        var data = {"TrnId":EmpId};
        data = await callController(url, data);
         GridShow(2);
         trnId = EmpId;
         Flag1 = 2;
        console.log(data.transactionEntries);
        data=data.transactionEntries;
        await AppendData(data,false);
        $('h2.h3.mb-0.text-center').text('Transaction Entry - Edit');       
        $('#_btnSubmit').show();
    }
    async function GridShow(Flag){
        if(Flag==1){
            $('.Gridtable').show();
            $('.GridIUD').hide();
            $('.GridView').hide();
            await BindCostCenter();
            await BindCategory();
            await BindSubAccounntMaster();
            await BindSupplier();
            await BindBank();

        } else if(Flag==2){
            $('.Gridtable').hide();
            $('.GridIUD').show();
            $('.GridView').hide();
        }
        else{
            $('.Gridtable').hide();
            $('.GridIUD').hide();
            $('.GridView').show();
        }
    }

    function Gridappend(data) {
        debugger;
        var item = '';
        var Arr;
        if (data!=undefined)
        {
        if (data.length > 0) {
            Arr = data;
            for (var i = 0; i < Arr.length; i++)
            {
                var sno=i+1;
                item += '<tr>';
                item += '<td>' + sno+ '</td>';
                if(Arr[i].trnDate!=null &&  Arr[i].trnDate!="")
                    item += '<td>' + Arr[i].trnDate.slice(0,10) + '</td>';//$('#txttransactiondate').val(data[0].trnDate.slice(0,10));
                else
                    item += '<td></td>';
                item += '<td>' + Arr[i].trnCategoryName + '</td>';
                item += '<td>' + Arr[i].trnSubAccountName + '</td>';
                item += '<td>' + Arr[i].trnCostCentreName + '</td>';

                item += '  <td>';
                item += ActionsButtons(Arr[i].trnId)
                item += '</td>';
                item += ' </tr>';
            }
            $('#bodyData').html('').append(item);
        } else {
            $('#bodyData').html('').append('<tr><td colspan="10" style="text-align:center">No records found.</td></tr>');
        }
        }
        else {
            $('#bodyData').html('').append('<tr><td colspan="10" style="text-align:center">No records found.</td></tr>');
        }
    }


    function GridView(data){

    }

    async function IUDEmpDetails(Flag,ID){
    debugger;
    if($('#txttransactiondate').val()==""){
    alert("Please enter the transaction date.");
    return false;
    }

    if($('#txttransactioncreditdebit').val()==""){
    alert("Please enter the credit or debit.");
    return false;
    }
    debugger;

        var data = {
        "TrnId": trnId,
        "TrnDate":  $('#txttransactiondate').val(),
        "TrnCreditDebit": $('#txttransactioncreditdebit').val(),
        "TrnType": $('#txttransactiontype').val(),
        "TrnCategory": $('#ddlCategory').val(),
        "TrnSubAccount":$('#ddlSubAccount').val(),
        "TrnSubAccountStr":$('#ddlSubAccount').find('option:selected').text(),
        "TrnCostCentre": $('#ddlCostCenter').val(),
        "TrnDetails": $('#txttransactiondetails').val(),
        "TrnInvNo": $('#transactioninvnumber').val(),
        "TrnSupplier": $('#ddlSupplier').val(),
        "TrnCurrency": $('#ddlCurrency').val(),
        "TrnAmount": $('#txttransactionamount').val(),
        "Trnaccountnumber" : $('#txttransactionaccountnumber').val(),
        "TrnInstrumentType": $('#txttransactioninstrumenttype').val(),
        "TrnInstrumentNo": $('#txttransactioninstrumentnumber').val(),
        "TrnBankAccountNo": $('#ddlBankAccNumber').val(),
        "TrnVehicle": $('#ddlVehicle').val(),
        "TrnEmployee": $('#ddlemployee').val(), 
        "TrnRemarks":$('#txttransactionremarks').val(),
        "TrnRequestBy":$('#txttransactiontrnreguestby').val(),
        };
        var url = '';
        if(Flag1==2){
        url=  '@Url.Action("Update", "TransactionEntry")';
        toastr.success('Transaction entry uodated.');
        }
        else if(Flag1==3){
        url=  '@Url.Action("Delete", "TransactionEntry")';
        toastr.success('Transaction entry deleted.');
        }
        else
        {
            url = '@Url.Action("Add", "TransactionEntry")';
            toastr.success('Transaction entry added.');
        }
        data = await callController(url, data);
        console.log(data);
       // alert(data.message);

        setTimeout(function() {location.reload();}, 3000);

    }



    function clearAll(){
          GridShow(1);
           $('input[type=text]').val('');

        $('h2.h3.mb-0.text-center').text('Add - Employee Master');
    }
</script>
