<script src="~/lib/jquery/dist/jquery.min.js" />
<script type="text/jscript">
    BindGrid();
      $(document).ready(function () {



      })

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<style>
    .form-inputs {
        padding: 40px;
        flex: 60%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        position: relative;
    }

    .form-btn {
        margin: 20px 0px;
        background-color: #f6fe00;
        color: black;
        padding: 10px 40px;
        font-weight: 700;
        border: none;
        cursor: pointer;
    }

    .form-row {
        padding: 10px 0px;
        position: relative;
    }

    .form-row-field {
        color: #000000;
        position: absolute;
        pointer-events: none;
        transition: 0.5s;
        top: 10px;
        margin-left: 2em;
    }

    .form-row-field-input {
        background-color: inherit;
        display: block;
        top: 10px;
        transition: 0.5s;
        margin-left: 1.5em;
    }

        .form-row-field-input:focus ~ label, input:not(:placeholder-shown) ~ label {
            top: -5px;
            font-size: 12px;
            color: #9b91f5;
            font-weight: bold;
        }

    .fileCss {
        top: -11px;
        font-size: 14px;
        color: #000000;
        font-weight: bold;
    }
</style>
<div class="Gridtable">
    <section class="">
        <div class="">
            <div class="Imgcontainer">
                <img class="CommanImage" src="~/Images/22.jpg" />

                <div class="top-right1">Vehicle Master</div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card" style="width: 100%;">

                    <div class="card-body">
                        <div class="row align-items-center my-0">
                            <div class="col">

                                <h2 class="">
                                </h2>

                            </div>
                            <div class="">

                                <button type="button" class="btn mb-2 btn-outline-primary btm_mnl" onclick="GridShow(2)"><span class="fas fa-plus mr-2" aria-hidden="true"></span>Add</button>

                            </div>
                        </div>
                        <div class="table-responsive" width="100%">
                            <table id="example2" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Reg.No</th>
                                        <th>Name</th>
                                        <th>Cost Centre</th>
                                        <th>Vehicle On</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="bodyData">
                                    <tr>
                                        <td>Trident</td>
                                        <td>
                                            Internet
                                            Explorer 4.0
                                        </td>
                                        <td>Win 95+</td>
                                        <td> 4</td>
                                        <td> 4</td>
                                        <td> 4</td>
                                        <td>X</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


<div class="GridView" style="display:none">

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card" style="width: 100%;">

                    <div class="card-body">
                                    <div class="row align-items-center my-0">
            <div class="row col-12">
                        <div class="col-2">
                         <img class="" id="back" style="width: 25%;margin-left: 36%; top:5px" onclick="clearAll()" src="~/Images/BackButton.png">
                        
                        </div>
                        <div class="col-8">
                        <h2 class="h3 mb-0 text-center">Vehicle Master - Add</h2>
                        </div>
                        <div class="col-2">
                         <img class="Righttext" id="print" style="width: 123px;top: 32%;left: 55%;display: block;" onclick="printPage(this)" src="~/Images/Print.jpg">
                        
                        </div>
                        </div>


                        </div>
                        <div class="form-inputs">
                            <div class="row">
                             <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <select id="ddlCostCenter" class="form-row-field-input form-control">
                                            <option selected>Select</option>
                                        </select>
                                        <label for="POST-name" class="fileCss form-row-field">Cost Center</label>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehiclecode" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Code</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehicletype" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Type</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehicleregno" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Registration Number</label>
                                    </div>
                                </div>
                                

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehiclename" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Name</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehiclebrandname" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Brand Name</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehiclemodelyear" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Model Year</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="date" id="txtvehiclepurchasedate" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Purchase Date</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehiclenumber" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Vehicle On</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehicleregistrationexp" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Registration Expire</label>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehicletypeofpurchase" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Type Of Purchase</label>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehiclesizecapacity" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Size Capacity</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehicledrivenby" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Driven By</label>
                                    </div>
                                </div>
                                                               <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehiclelocation" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Location</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehiclepurchasevalue" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Purchase Value</label>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtvehiclepurchasefrom" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Purchase From</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtpurchasecolor" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Purchase Color</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtenginecolor" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Vehicle Color</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtenginepower" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Engine Power</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="tetnumberofengine" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Number Of Engine</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtengineserialno" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Engine Serial No</label>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtenginename" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Engine Make</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txttypeofhull" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Type Of Hull</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtchassisno" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Hull Chassis No</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtweight" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Weight</label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtorginplace" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Origin Place </label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtnoofpassengersplace" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">No Of Passengers </label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtnumberofcrew" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Number Of Crew </label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtradiodevicename" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Radio Device Name </label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtradiodevicesno" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Radio Device S.No </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtradiodevicestype" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Radio Type </label>
                                    </div>
                                </div>

                                
                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <label for="POST-name" class="fileCss form-row-field ">Photo</label>
                                        <input type="file" id="fileEmpPhoto" ImageID="img_fileEmpPhoto" placeholder=" " accept="image/png, image/gif, image/jpeg" onchange="FileuploadsImage(this)" class="form-row-field-input form-control">
                                      <img src="" id="img_fileEmpPhoto_View" height="75px" style="display:none; margin-left:6%;"/>
                                        <div class="nav-item dropdown img_fileEmpPhoto">
                                            <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false"> View Images </a>
                                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right" style="">
                                                <img src="" id="img_fileEmpPhoto" height="175px"/>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#" id="lnk_fileEmpPhoto" target="_blank"> <i class="fas fa-download mr-2"></i> Download </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtstatus" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Status </label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtothers1" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Others 1 </label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtothers2" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Others 2 </label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtothers3" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Others 3 </label>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-row form-group">
                                        <input type="text" id="txtothers4" placeholder=" " class="form-row-field-input form-control">
                                        <label for="POST-name" class="form-row-field">Others 4</label>
                                    </div>
                                </div>

                                </div>


                                <div class="text-center mt-5 mb-3">
                                    <a href="#" class="btn btn-md btn-primary" id="_btnSubmit" onclick="IUDEmpDetails(1,0)">Submit</a>
                                    <a href="#" class="btn btn-md btn-primary" id="back1"   onclick="clearAll()">Back</a>
                                </div>
                            </div>
                            <!--end-->
                        </div>
                    </div>

                </div>
            </div>
    </section>
</div>

<script src="~/js/CommonFunction.js"></script>
<script>

         $(document).ready(function () {
          BindGrid();
          GridShow(1);
          $('.img_fileEmpPhoto').hide();
          $('#Menu_Parameter_master').show();
          $('a.nav-link.Vehicle_Master').addClass("active");
          $('#Menu_Parameter_master').css({'display':'block'});
         })

        async function BindGrid() {
            var url = '@Url.Action("BindGrid", "Vehicle_Master")';
            var data = {"vhId":0};
            data = await callController(url, data);
            console.log(data);
            $('h2.h3.mb-0.text-center').text('Vehicle Master - Add');
            Gridappend(data.vechileResponse);
            $('#print').hide();
        }
        async function GridShow(Flag){
            if(Flag==1){
                $('.Gridtable').show();
                $('.GridView').hide();                
                await BindCostCenter();
                $('.img_fileEmpPhoto').show(); 
             $('#fileEmpPhoto').show(); 
             $('#img_fileEmpPhoto_View').hide();  
           $('input[type="text"]').prop('disabled', false); $('select').prop('disabled', false);
           $('input[type="date"]').prop('disabled', false);
           $("#_btnSubmit").show();
             $("#print").css({'display':'none'});
            }
            else{
                $('.Gridtable').hide();
                $('.GridView').show();
                await BindCostCenter();
            }
        }
        var cCId = 0;
        var type ='';
        async function _Edit(CustId){
            debugger;
              var url = '@Url.Action("BindGrid", "Vehicle_Master")';
            var data = {"vhId":CustId};
            data = await callController(url, data);
           await GridShow(2);
            type = 'update';

            $('h2.h3.mb-0.text-center').text('Vehicle Master - Edit');
            cCId = data['vechileResponse'][0].vhId;

              data=data.vechileResponse;

               AppendData(data);
            
             $('.img_fileEmpPhoto').show(); 
             $('#fileEmpPhoto').show(); 
             $('#img_fileEmpPhoto_View').hide();  
           $('input[type="text"]').prop('disabled', false);
           $('input[type="date"]').prop('disabled', false);
           $('select').prop('disabled', false);
            $("#_btnSubmit").show();
        }
        async function _Delete(csId){
             var url = '@Url.Action("BindGrid", "Vehicle_Master")';
            var data = {"vhId":csId};
            data = await callController(url, data);
            await GridShow(2);
            type = 'delete';

            $('h2.h3.mb-0.text-center').text('Vehicle Master - Delete');
           cCId = data['vechileResponse'][0].vhId;
              data=data.vechileResponse;
          AppendData(data);
          
             $('.img_fileEmpPhoto').hide(); 
             $('#fileEmpPhoto').hide(); 
             $('#img_fileEmpPhoto_View').show();    
           $('input[type="text"]').prop('disabled', true);
           $('input[type="date"]').prop('disabled', true); $('select').prop('disabled', true);
            $("#_btnSubmit").show();
        }
        async function _View(csId){
             var url = '@Url.Action("BindGrid", "Vehicle_Master")';
            var data = {"vhId":csId};
            data = await callController(url, data);
            
            $('h2.h3.mb-0.text-center').text('Vehicle Master - View');
            
        $('#print').attr("_PrintID",csId);
            await GridShow(2);
            type = 'delete';
            $('#print').show();

            $('h2.h3.mb-0.text-center').text('Vehicle Master - View');
           cCId = data['vechileResponse'][0].vhId;
              data=data.vechileResponse;
          AppendData(data);
      
             $('.img_fileEmpPhoto').hide(); 
             $('#fileEmpPhoto').hide(); 
             $('#img_fileEmpPhoto_View').show();                        
           
   
         $("#print").css({'display':'block'});
           $('input[type="text"]').prop('disabled', true); $('select').prop('disabled', true);
           $('input[type="date"]').prop('disabled', true);
            $("#_btnSubmit").hide();
        }
        async function BindCostCenter()
        {
             $("#ddlCostCenter").append('').html('');
                var url = '@Url.Action("BindGrid", "Cost_Center_Master")';
            var data = {"CsId":0};
            data = await callController(url, data);
            console.log(data)
                 $('#ddlCostCenter').find('option').remove().end().append('<option value="0">Select</option>');
            $.each(data.costCenterResponse, function (res, value) {
                $("#ddlCostCenter").append($("<option></option>").val(value.csId).html(value.csName));
            })
        }
         function Gridappend(data) {
            debugger;
            var item = '';
            var Arr;
            if (data!=undefined)
            {
            if (data.length > 0) {
                Arr = data;
                for (var i = 0; i < Arr.length; i++)
                {
                    var sno=i+1;
                    item += '<tr>';
                    item += '<td>' + sno+ '</td>';
                    item += '<td>' + Arr[i].vhRegNo  + '</td>';
                    item += '<td>' + Arr[i].vhName  + '</td>';
                    item += '<td>' + Arr[i].vhCostCentreName  + '</td>';
                    item += '<td>' + Arr[i].vhVehicleOn  + '</td>';

                    item += '  <td>';
                    item += ActionsButtons(Arr[i].vhId)
                    item += '</td>';
                    item += ' </tr>';
                }
                $('#bodyData').html('').append(item);
            } else {
                $('#bodyData').html('').append('<tr><td colspan="10" style="text-align:center">No records found.</td></tr>');
            }
            }
            else {
                $('#bodyData').html('').append('<tr><td colspan="10" style="text-align:center">No records found.</td></tr>');
            }
        }


        function GridView(data){

        }
            function printPage(obj) {
    var url = '@Url.Action("VehiclePDF", "PrintPDF")'; 
    var _id = $(obj).attr("_PrintID");
    window.open(url + "?ID=" + _id);
}
        async function IUDEmpDetails(){
        debugger;
         var CostCenter=$('#ddlCostCenter').val();
        if(CostCenter==""){
        toastr.warning("Please select the cost center.");
        return false;
        }
        var VehicleCode=$('#txtvehiclecode').val();
        if(VehicleCode==""){
        toastr.warning("Please enter the customer code.");
        return false;
        }

            var VehicleType=$('#txtvehicletype').val();
        if(VehicleType==""){
        toastr.warning("Please enter the vehicle type.");
        return false;
        }
           var VehicleRegno=$('#txtvehicleregno').val();
        if(VehicleRegno==""){
        toastr.warning("Please enter the Registration NO.");
        return false;
        }
         var Vehiclename=$('#txtvehiclename').val();
        if(Vehiclename==""){
        toastr.warning("Please enter the Vehicle name.");
        return false;
        }
           var Vehiclebrandname=$('#txtvehiclebrandname').val();
        if(Vehiclebrandname==""){
        toastr.warning("Please enter the Vehicle Brand name.");
        return false;
        }
            var Vehiclemodelyear=$('#txtvehiclemodelyear').val();
        if(Vehiclemodelyear==""){
        toastr.warning("Please enter the Vehicle Model year.");
        return false;
        }
             var Vehiclepurchasedate=$('#txtvehiclepurchasedate').val();
        if(Vehiclepurchasedate==""){
        toastr.warning("Please enter the Vehicle purchase date.");
        return false;
        }
        //    var Vehiclenumber=$('#txtvehiclenumber').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the  Vehicle number.");
        //return false;
        //}     
        //     var Vehicleregistrationexp=$('#txtvehicleregistrationexp').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the  Registration  Expire.");
        //return false;
        //}
        //       var Vehicletypeofpurchase=$('#txtvehicletypeofpurchase').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the  vehicle type of purchase.");
        //return false;
        //}
        //      var Vehiclesizecapacity=$('#txtvehiclesizecapacity').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the  vehicle size capacity.");
        //return false;
        //}
        //    var Vehicledrivenby=$('#txtvehicledrivenby').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the vehicle driven by.");
        //return false;
        //}
        //   var Vehiclelocation=$('#txtvehiclelocation').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the vehicle location.");
        //return false;
        //}  
        //    var Vehiclepurchasevalue=$('#txtvehiclepurchasevalue').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the vehicle Purchase Value.");
        //return false;
        //}
        //  var Vehiclepurchasefrom=$('#txtvehiclepurchasefrom').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the vehicle Purchase from.");
        //return false;
        //}
        //   var Purchasecolor=$('#txtpurchasecolor').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the vehicle Purchase color.");
        //return false;
        //}
        // var Enginecolor=$('#txtenginecolor').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the vehicle color.");
        //return false;
        //}
        //  var Enginepower=$('#txtenginepower').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the Engine power.");
        //return false;
        //}
        //  var Numberofengin=$('#tetnumberofengine').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the Number of engine.");
        //return false;
        //}
        //  var Engineserialno=$('#txtengineserialno').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the engine serial number.");
        //return false;
        //}
        //   var Enginename=$('#txtenginename').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter the engine make.");
        //return false;
        //}
        //    var Typeofhull=$('#txttypeofhull').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter Type of hull.");
        //return false;
        //}
        //   var Chassisno=$('#txtchassisno').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter Chassis no.");
        //return false;
        //}
        //   var Weight=$('#txtweight').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter Weight.");
        //return false;
        //}
        //  var Orginplace=$('#txtorginplace').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter Orginplace.");
        //return false;
        //}
        //  var Noofpassengersplace=$('#txtnoofpassengersplace').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter No of passenger splace.");
        //return false;
        //}
        //   var Numberofcrew=$('#txtnumberofcrew').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter No of  Number of crew.");
        //return false;
        //}
        //   var Radiodevicename=$('#txtradiodevicename').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter No of  Radio device name.");
        //return false;
        //}
        //  var Radiodevicesno=$('#txtradiodevicesno').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter No of  Radio device s no.");
        //return false;
        //}
        //   var Radiodevicestype=$('#txtradiodevicestype').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter No of  Radio device Type.");
        //return false;
        //}
        //   var EmpPhoto=$('#fileEmpPhoto').val();
        //if(VehicleCode==""){
        //toastr.warning("Please upload photo.");
        //return false;
        //}
        //    var Status=$('#txtstatus').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter status.");
        //return false;
        //}
        //    var Others1=$('#txtothers1').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter Others1.");
        //return false;
        //}
        //    var Others=$('#txtothers2').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter Others.");
        //return false;
        //}
        //    var Others3=$('#txtothers3').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter Others3.");
        //return false;
        //}
        //    var Others4=$('#txtothers4').val();
        //if(VehicleCode==""){
        //toastr.warning("Please enter Others4.");
        //return false;
        //}
       
            var data =     {
                "vhId": cCId,
                "vhCode": $('#txtvehiclecode').val(),
                "vhType": $('#txtvehicletype').val(),
                "vhVehicleon": $('#txtvehiclenumber').val(),
                "vhName": $('#txtvehiclename').val(),
                "vhMakeBrand": $('#txtvehiclebrandname').val(),
                "vhModelYear": $('#txtvehiclemodelyear').val(),
                "vhPurchaseDt": $('#txtvehiclepurchasedate').val(),
                "vhRegno": $('#txtvehicleregno').val(),
                "vhRegistrationExp": $('#txtvehicleregistrationexp').val(),
                "vhTypeOfpurchase": $('#txtvehicletypeofpurchase').val(),
                "vhSizeCapacity": $('#txtvehiclesizecapacity').val(),
                "vhDrivenBy": $('#txtvehicledrivenby').val(),
                "vhCostCentre": $('#ddlCostCenter').val(),
                "vhLocation": $('#txtvehiclelocation').val(),
                "vhPurchasevalue":$('#txtvehiclepurchasevalue').val()   ,
                "VhPurchasedFrom": $('#txtvehiclepurchasefrom').val()  ,
                "vhColour":$('#txtenginecolor').val(),
                "vhEnginePower":$('#txtenginepower').val(),
                "vhPurchasedColor":$('#txtpurchasecolor').val() ,
                "vhNoOfEngines":$('#tetnumberofengine').val()   ,
                "vhEngineSerialNumber": $('#txtengineserialno').val()  ,
                "VhEngineMake": $('#txtenginename').val()  ,
                "vhTypeOfHull": $('#txttypeofhull').val()  ,
                "VhHullChassisNo":$('#txtchassisno').val()   ,
                "vhWeight": $('#txtweight').val()  ,
                "vhOriginPlace": $('#txtorginplace').val()  ,
                "vhNoOfPassengers":  $('#txtnoofpassengersplace').val() ,
                "vhNoOfCrew": $('#txtnumberofcrew').val()  ,
                "vhRadioDeviceName":$('#txtradiodevicename').val()   ,
                "vhRadioDeviceType":$('#txtradiodevicestype').val()   ,
                "vhRadioDeviceSno": $('#txtradiodevicesno').val()  ,
                "vhImage": $('#lnk_fileEmpPhoto').attr('href'),
                "vhStatus":$('#txtstatus').val()   ,
                "vhOthers1": $('#txtothers1').val()  ,
                "vhOthers2": $('#txtothers2').val()  ,
                "vhOthers3":$('#txtothers3').val()   ,
                "vhOthers4":$('#txtothers4').val()   ,
        };
            if(cCId == 0)
            {
                var url = '@Url.Action("Add", "Vehicle_Master")';
                data = await callController(url, data);
                    toastr.success('Vehicle master added.');
            }
            else
            {
                if(type == 'update'){
                    var url = '@Url.Action("Update", "Vehicle_Master")';
                    data = await callController(url, data);
                        toastr.success('Vehicle master updated.');
                }
                else{
                    var url = '@Url.Action("Delete", "Vehicle_Master")';
                    data = await callController(url, data);
                        toastr.success('Vehicle master deleted.');
                }
            }
            console.log(data);
            //alert(data.message);
            setTimeout(function() {location.reload();}, 3000);
        }

        function clearAll(){
              GridShow(1);

           $('input[type="text"]').val('');
           $('input[type="date"]').val('');
               $('input[type=text]').val('');
               
             $('.img_fileEmpPhoto').show(); 
             $('#fileEmpPhoto').show(); 
             $('#img_fileEmpPhoto_View').hide();  
            $('h2.h3.mb-0.text-center').text('Add - Vehicle Master');
        }

    async function AppendData(data){
            $('#txtvehiclecode').val(data[0].vhCode);
            $('#txtvehicletype').val(data[0].vhType);
            $('#txtvehiclenumber').val(data[0].vhVehicleOn);
            $('#txtvehiclename').val(data[0].vhName);
           $('#txtvehiclebrandname').val(data[0].vhMakeBrand);
           $('#txtvehiclemodelyear').val(data[0].vhModelYear);
        if($('#txtvehiclepurchasedate').val(data[0].vhPurchaseDt!=null) &&  $('#txtvehiclepurchasedate').val(data[0].vhPurchaseDt!=""))
        $('#txtvehiclepurchasedate').val(data[0].vhPurchaseDt.slice(0,10));
        else
        $('#txtvehiclepurchasedate').val("");
         $('#txtvehicleregno').val(data[0].vhRegNo);
        $('#txtvehicleregistrationexp').val(data[0].vhRegistrationExp);
        $('#txtvehicletypeofpurchase').val(data[0].vhTypeOfPurchase);
       $('#txtvehiclesizecapacity').val(data[0].vhSizeCapacity);
       $('#txtvehicledrivenby').val(data[0].vhDrivenBy);
  
        $('#ddlCostCenter').val(data[0].vhCostCentreName);
        $('#txtvehiclelocation').val(data[0].vhLocation);
       $('#txtvehiclepurchasevalue').val(data[0].vhPurchaseValue);
        $('#txtvehiclepurchasefrom').val(data[0].vhPurchasedFrom);
       $('#txtenginecolor').val(data[0].vhColour);
      $('#txtenginepower').val(data[0].vhEnginePower);
      $('#txtpurchasecolor').val(data[0].vhPurchasedColor);
      $('#tetnumberofengine').val(data[0].vhNoOfEngines);
      $('#txtengineserialno').val(data[0].vhEngineSerialNumber);
      $('#txtenginename').val(data[0].vhEngineMake);
     $('#txttypeofhull').val(data[0].vhTypeOfHull);
     $('#txtchassisno').val(data[0].vhHullChassisNo);
     $('#txtweight').val(data[0].vhWeight);
      $('#txtorginplace').val(data[0].vhOriginPlace);
       $('#txtnoofpassengersplace').val(data[0].vhNoOfPassengers);
        $('#txtnumberofcrew').val(data[0].vhNoOfCrew);
             $('#txtradiodevicename').val(data[0].vhRadioDeviceName);
      $('#txtradiodevicestype').val(data[0].vhRadioDeviceType);
           $('#txtradiodevicesno').val(data[0].vhRadioDeviceSno);
     //$('#txtimages').val(data[0].vhImage);
        if(data[0].vhImage!=""||data[0].vhImage!=null)
        {
            $('#lnk_fileEmpPhoto').attr("href",data[0].vhImage);
            $('#img_fileEmpPhoto').attr("src",data[0].vhImage);
            $('.img_fileEmpPhoto').show();
            $('#img_fileEmpPhoto_View').show();            
            $('#img_fileEmpPhoto_View').attr("src",data[0].vhImage);
        }
        else
        {
            $('#lnk_fileEmpPhoto').attr("href","");
            $('#img_fileEmpPhoto').attr("src","");
            $('.img_fileEmpPhoto').show();            
            $('#img_fileEmpPhoto_View').attr("src","");
             $('#img_fileEmpPhoto_View').hide();
        }
        
     $('#txtstatus').val(data[0].vhStatus);
         $('#txtothers1').val(data[0].vhOthers1);
      $('#txtothers2').val(data[0].vhOthers2);
     $('#txtothers3').val(data[0].vhOthers3);
     $('#txtothers4').val(data[0].vhOthers4);
    $('#txtenginepower').val(data[0].vhEnginePower);
    
            $('#ddlCostCenter').val(data[0].vhCostCentre);
    }
      function FileuploadsImage(obj)
    {
        var Image_ID = $(obj).attr("ImageID");
        var link_ID = $(obj).attr("ID");
        var data = new FormData();
        data.append("formFile", $(obj)[0].files[0]);
        data.append("formPath", "test");
        var url = '@Url.Action("FileUpload", "Employee_Master")';
        $.ajax({
            type: 'post',
            url: url,
            data: data,
            processData: false,
            contentType: false
        }).done(function (result) {
            console.log(result);
            if (result.status === "success")
            {
                $("#"+Image_ID).attr('src', result.fileName);
                $("#lnk_"+link_ID).attr('href', result.fileName);
                $("."+Image_ID).show();
            }
            else
            {
                    $("."+Image_ID).hide();
            }
        });
    }
        $('#back').click(function() {
    location.reload();
});
</script>